.gray {
    color: #bbbbbb;
}

.textarea {
    height: 250px;
    width: 100%;
}

.w50 {
    width: 50%;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 16px;
}